@import url('https://fonts.googleapis.com/css2?family=Jura&family=Krona+One&display=swap');
* {
box-sizing: border-box;
}

html,
body,
#root {
scroll-behavior: smooth;
width: 100%;
height: 100%;
margin: 0;
padding: 0;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
overflow: hidden;
/* cursor: url("./pointer.png"),default; */
cursor: url("./pointer.png"),pointer;
}
#root {
overflow: auto;
}

body {
position: fixed;
overflow: hidden;
overscroll-behavior-y: none;
/* font-family: 'Krona One', sans-serif; */
color: black;
background: #f0f0f0;
/* cursor: grab; */
}
#threejsCanvas{
    /* position:absolute;
    top:0;
    left:0; */
    z-index: 1;
    height: 100%;
    width: 100%;
}
#nav{
    z-index: 15;
    position: absolute;
}
#background{
    width: 100%;
    height: 100%;
    position: absolute;
}

.content{
    pointer-events: none;
    width: 100vw;
}
.section{
    height: 100vh;
    width: 100vw;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    #name{
        padding-top: 50vh;
        padding-left: 5vh;
        position: relative;
        font-family: 'Krona One', sans-serif;
        font-size: 100px;
        color: #ec644b;
        text-align: left;
        font-weight: bold;
    }
    #name #tag{
        font-size: 40px;
        line-height: 160%;
        font-weight: normal;
        font-family: 'Jura', sans-serif;
    }
    #nxtbutton{
        margin-top: 20vh;
        pointer-events: all;
        bottom: 5vh;
        left: 50%;
    }

    #contactButton{
      background: rgba( 255, 255, 255, 0.15 );
      box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.20 );
      backdrop-filter: blur( 9.0px );
      -webkit-backdrop-filter: blur( 9.0px );
      color:#ec644b;
      margin: 10px;
      pointer-events: all;
    }
    @-moz-document url-prefix(){
      #contactButton{
        background: rgba( 255, 255, 255, 0.75 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.20 );
        color:#ec644b;
        margin: 10px;
        pointer-events: all;
      }
    }
    
    #projects{
        z-index: 10;
        width: 80%;
        margin: auto;
    }
    #projectsContainer{
        max-width: 990px;
        flex: 1 1 100%;
        padding: 45px 25px;
    }
  }
  
  /* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
  @media screen and (max-width: 600px) {
    #name{
        margin-top: 30vh;
        margin-left: 5vh;
        position: relative;
        font-family: 'Krona One', sans-serif;
        font-size: 10vw;
        color: #ec644b;
        text-align: left;
        font-weight: bold;
    }
    #name #tag{
        font-size: 4vw;
        line-height: 160%;
        font-weight: normal;
        font-family: 'Jura', sans-serif;
    }
    #nxtbutton{
        margin-top: 30vh;
        pointer-events: all;
        bottom: 5vh;
        right: 5%;
    }

    #contactButton{
      background-color: #ec644b;
      color:white;
      margin: 10px;
    }
    
    #projects{
        height: 30vh;
        z-index: 10;
    }
  }



/*   
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  pointer-events: all;
}

.card {
  position: relative;
  padding: 25px;
  height: 460px;
  flex: 0 0 40%;
  max-width: 40%;
}

.card:nth-child(4n + 1),
.card:nth-child(4n + 4) {
  flex: 0 0 60%;
  max-width: 60%;
}

.card:nth-child(odd) {
  padding-left: 0;
}

.card:nth-child(even) {
  padding-right: 0;
}

.card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
  pointer-events: none;
}

.card-content-container.open {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  overflow: hidden;
  padding: 40px 0;
}

.card-content {
  pointer-events: auto;
  position: relative;
  border-radius: 20px;
  background: #1c1c1e;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.open .card-content {
  height: auto;
  max-width: 700px;
  overflow: hidden;
  pointer-events: none;
}

.card-open-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-image-container {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 420px;
  width: 100vw;
}

.open .card-image-container,
.open .title-container {
  z-index: 1;
}

.title-container {
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: 300px;
}

.open .title-container {
  top: 30px;
  left: 30px;
}

h2 {
  color: #fff;
  margin: 8px 0;
}

.category {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}

.overlay {
  z-index: 1;
  position: fixed;
  background: rgba(0, 0, 0, 0.8);
  will-change: opacity;
  top: 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 990px;
}

.overlay a {
  display: block;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vw;
  left: 50%;

  transform: translateX(-50%);
}

.content-container {
  padding: 460px 35px 35px 35px;
  max-width: 700px;
  width: 90vw;
}

p {
  color: #9d9ca1;
  font-size: 20px;
  line-height: 28px;
}

@media only screen and (max-width: 800px) {
  .card {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  .card {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .card-content-container.open {
    padding: 0;
  }
} */